html, body {
    height: 100vh;
    background: linear-gradient(24deg, rgba(110,165,191,1) 10%,
     rgba(101,169,196,1) 43%, rgba(0,212,255,1) 95%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 125px;
    height: 50px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.content {
    display: grid;
    max-width: 1300px;
    grid-template-columns: 100px 100px auto;
    grid-template-rows: 100px 100px auto;
}

#container {
    background-color: white;
    display: grid;
    width: 960px;
    height: 960px;
    column-gap: 0px;
    border: solid 5px black;
    grid-column: 3;
    grid-row: 3;
}


.container-item {
    width: 100%;
    /*Using the padding property to enforce a 1:1 aspect ratio*/
    height: 0;
    padding-top: 100%;
}

.control {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    height: 50%;
    padding-top: 25px;
}

#title {
    margin-top: 25px;
    font-size: 40px; 
    grid-column: 3;
    grid-row:1;
    height: 50px;
    text-align: left;
    text-shadow: 2px 2px 2px;
}

.colour {
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row: 3;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


#black {
    background-color: black;
}

#red {
    background-color:red;   
}

#green {
    background-color: green;
}

#blue {
    background-color:blue; 
}

#instruct {
    grid-row: 2;
    margin-top: 25px;
}